[Desktop Entry]
Version=1.0
Name=Google Chrome
Comment=Web browser
Exec=/usr/local/bin/mola-chrome %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Google-chrome
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=/usr/local/bin/mola-chrome --new-window

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/usr/local/bin/mola-chrome --incognito
